
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* variabel css */
:root{
  --header-height:3rem;

  /* color/warna */

  --hue-color:214;

  /* hsl color */
  --first-color:hsl(var(--hue-color),84%,22%);
  --first-color-second:hsl(var(--hue-color),73%,53%);
  --first-color-alt:hsl(var(--hue-color),57%,53%);
  --first-color-lighter:hsl(var(--hue-color),92%,85%);
  --title-color :hsl(var(--hue-color),8%,15%);
  --text-color: hsl(var(--hue-color),8%,45%);
  --text-color-light:hsl(var(--hue-color),8%,65%);
  --input-color:hsl(var(--hue-color),70%,96%);
  --body-color:hsl(var(--hue-color),60%,99%);
  --container-color:#fff;


  /*  font */
    --body-font: 'Poppins', sans-serif;
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;


    /* font weight */
    --font-medium : 500;
    --font-semi-bold: 600;

    /* margin */
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
    /* z-index */
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
}

/* untuk device yang besar */
@media screen and (min-width:986px){
  :root{
    --big-font-size:3rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.12rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;
  }
}

body{
  overflow-x: hidden;
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color:var(--body-color)!important ;
  color: var(--text-color)!important;
}

h1,h2,h3,h4{
  color:var(--title-color) !important;
  font-weight: var(--font-semi-bold) !important;
}


/* reusable css */
.sectiom-title{
  font-size:var(--h1-font-size) !important;
}
.section-subtitle{
  display: block;
  font-size: var(--small-font-size) !important;
  margin-bottom: var(--mb-3);
}
.section-title,.section-subtitle{
  text-align: center !important;
}
.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

.padding{
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}
 .padding{
  z-index: 10;
}

  /* for home section */
section.home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
section.home::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #ffff,transparent);
  z-index: 10;
}
section #text{
  position: absolute;
  color: #094b65;
  font-size: 18vw;
  text-align: center;
  line-height: 0.55em;

}
section #text .text1{
  font-size: 0.30em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
}
section #text .text2{
  font-family: 'Permanent Marker', cursive;
}
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}



.sec{
  position: relative;
  padding: 10vw;
  background: #ffff;
}

.sec h2{
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
.sec p{
  font-size: 1em;
  color: #fff;
}

