
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* variabel css */
:root{
  --header-height:3rem;

  /* color/warna */

  --hue-color:229;

  /* hsl color */
  --first-color:hsl(var(--hue-color),84%,22%);
  --first-color-second:hsl(var(--hue-color),100%,73%);
  --first-color-alt:hsl(var(--hue-color),73%,86%);
  --first-color-lighter:hsl(var(--hue-color),92%,85%);
  --title-color :hsl(var(--hue-color),8%,15%);
  --text-color: hsl(var(--hue-color),8%,45%);
  --text-color-light:hsl(var(--hue-color),8%,65%);
  --text-color-lighter:hsl(var(--hue-color),8%,92%);
  --input-color:hsl(var(--hue-color),70%,96%);
  --body-color:hsl(var(--hue-color),60%,99%);
  --scroll-bar-color:hsl(var(--hue-color),84%,86%);
  --scroll-thumb-color:hsl(var(--hue-color),81%,77%);
  --scroll-thumb-color-hover:hsl(var(--hue-color),71%,71%);
  --container-color:#fff;


  

  /*  font */
    --body-font: 'Poppins', sans-serif;
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;


    /* font weight */
    --font-medium : 500;
    --font-semi-bold: 600;

    /* margin */
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
    /* z-index */
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
}



body{
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color:var(--body-color)!important ;
  color: var(--text-color)!important;
  overflow-x: hidden;
}
    /* dark theme variabel */
    body.dark-theme{
      --first-color:hsl(var(--hue-color),84%,22%);
      --first-color-second:hsl(var(--hue-color),26%,10%);
      --first-color-alt:hsl(var(--hue-color),20%,18%);
      --first-color-lighter:hsl(var(--hue-color),92%,85%);
      --title-color :hsl(var(--hue-color),100%, 97%);
      --text-color: hsl(var(--hue-color),8%,45%);
      --text-color-light:hsl(var(--hue-color),8%,65%);
      --text-color-lighter:hsl(var(--hue-color),8%,65%);
      --input-color:hsl(var(--hue-color),70%,96%);
      --body-color:hsl(var(--hue-color),60%,99%);
      --container-color:rgb(34, 38, 42);
      --scroll-bar-color:hsl(var(--hue-color),30%,40%);
      --scroll-thumb-color:hsl(var(--hue-color),100%,69%);
      --scroll-thumb-color-hover:hsl(var(--hue-color),100%,65%);
    }
h1,h2,h3,h4{
  color:var(--title-color) !important;
  font-weight: var(--font-semi-bold) !important;
}


/* reusable css */
.sectiom-title{
  font-size:var(--h1-font-size) !important;
}
.section-subtitle{
  display: block;
  font-size: var(--small-font-size) !important;
  margin-bottom: var(--mb-3);
}
.section-subtitle, .about-description, .uil{
  color: var(--title-color) ;

}
.uil-message{
 color: #f0f3ff;
}
.section-title,.section-subtitle{
  text-align: center !important;
}
/* layout */
.container{
  max-width: 768px;
}
.container.mt-3{
  overflow-x: hidden;
}
.grid{
  display: grid;
  gap: 1.5rem;
}





.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

.padding{
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}
 .padding{
  z-index: 10;
}

  /* for home section */
section.home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
}
section.home::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--container-color),transparent);
  z-index: 10;
}
section #text{
  position: absolute;
  color: #094b65;
  font-size: 18vw;
  text-align: center;
  line-height: 0.55em;

}
section #text .text1{
  font-size: 0.30em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
}
section #text .text2{
  font-family: 'Permanent Marker', cursive;
}
section.home img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}



.sec{
  position: relative;
  padding: 8vw 12vw;
  background: var(--container-color);
}

/* about section */
.about-img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about-title{
  font-size: var(--h2-font-size) !important;
}
.about-subtitle{
  font-size: var(--h3-font-size) !important;
  font-weight: var(--font-medium) !important;
  margin-bottom: var(--mb-0-75) !important;
}
.about-title,.about-subtitle{
  text-align: center;
}

.about-description{
  text-align: justify;
  margin-bottom:var(--mb-2-5);
}
.about-info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-0-25);
  margin-bottom: var(--mb-2-5);
}
.logos{
  font-size: var(--big-font-size);
  color: var(--bs-gray-900);
  transition: .5s;
}
.logos:hover{
  color:var(--bs-gray-600);
}
.icon-text{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}
.icon-text,.logos{
  display: block;
  text-align: center;
}
.button{
  display: inline-block;
  background-color: #8097ff;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  text-decoration: none !important;
  transition: .3s;
}

.button:hover{
  background-color: #0f61fa;
  color: #ffffff;
}
.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
}





/* skills */
.skill-container{
  row-gap: 0;
}
.skill-header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}
.skills-icon,.skills-arrow{
  font-size: 2rem;
  color:var(--title-color) ;
}
.skills-icon{
  margin-right: var(--mb-0-75);
}
.skills-title{
  font-size: var(--h3-font-size);
}
.skills-subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skills-arrow{
  margin-left: auto;
  transition: .4s;
}
.skills-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skills-list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills-name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills-bar,.skill-percentage{
  height: 5px;
  border-radius: .25rem;
}
.skills-bar{
  background-color: var(--first-color-lighter);
}
.skill-percentage{
  display: block;
  background-color: #8698e6;
}

.skill-html{
  width: 90%;
}
.skill-css{
  width: 80%;
}
.skill-js{
  width: 70%;
}
.skill-php{
  width: 80%;
}
.skill-laravel{
  width: 70%;
}
.skill-photoshop{
  width: 60%;
}
.skill-lightroom{
  width: 60%;
}
.skill-premiere{
  width: 70%;
}


.skills-close .skills-list{
  height: 0;
  overflow: hidden;
}

.skills-open .skills-list{
  height: max-content;
  margin-bottom:var(--mb-2-5);
}

.skills-open .skills-arrow{
  transform: rotate(-180deg);
}



/* qualification */
.qualification-data{
display: grid;
grid-template-columns: 1fr max-content 1fr;
column-gap: 1.5rem;
}
.margin-data{
  text-align: center;
}
.qualification-title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification-subtitle{
  font-size: var(--small-font-size);
  display: inline-block;
  margin-bottom: var(--mb-1);
}
.qualification-calendar{
  font-size: var(--smaller-font-size);
  color: #8596b8;
}
.qualification-rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  background-color: #7080c9;
}
.qualification-line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: #3a4c6e;
  transform: translate(6px,-7px);
}





/* Contact-Me */
.contact-content{
  background-color: var(--first-color-alt);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact-label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact-input{
  width: 100%;
  background-color: var(--first-color-alt);
  color: var(--title-color);
  font-family: var(--body-font);
  font-size:var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}


/* footer */
/* .footer{
  padding-top: 2rem;

} */
.footer-container{
  row-gap: 3.5rem;
}
.footer-bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}
.footer-title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer-subtitle{
  font-size: var(--small-font-size);
}
.footer-links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footer-link:hover{
  color: #0f61fa;
}

.footer-social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}
.footer-socials{
  padding-left: 2rem;
}
.footer-socials a{
  text-decoration: none;
}
.footer-social:hover{
  color: #0f61fa;
}
.footer-copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-lighter);
  margin-top: var(--mb-3);
}
.footer-social .uil{
  color: var(--text-color-lighter);
}
.footer-title,.footer-subtitle,.footer-link,.footer-social{
  color: #fff !important;
}
a.footer-link{
  text-decoration: none;
}
ul.footer-links li{
  list-style-type: none;
}
.padding-left{
  padding-left: 2rem;
}


/* scrollup */
.scrollup{
  position: fixed;
  right: 1rem;
  bottom:-20%;
  background-color: #4f6ffc ;
  opacity: .8;
  padding: .5rem .7rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  background-color: var(--first-color-lighter);
}
.scrollup-icon{
  font-size: 1.5rem;
  color: #fff;
}

/* show scroll */
.show-scroll{
  bottom: 5rem;
}



/* darktheme */
.change-theme{
  font-size: .9rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
  font-style: normal;
  transition: .4s;
}
.change-theme:hover{
  color: #6959f5;
}


/* scroll bar */
::-webkit-scrollbar{
  width: .50rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color:var(--scroll-thumb-color);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color:var(--scroll-thumb-color-hover);
}
/* untuk device yang besar */
@media screen and (min-width:986px){
  :root{
    --big-font-size:3rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.12rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;
  }
}

/* untuk device yang kecil */
@media screen and (max-width:350px){
  .sec{
    padding: 8vw 4vw;
  }
  a.logos {
    font-size: 2rem;
  }

  span.icon-text {
      font-size: 1rem;
  }
}
/* untuk device yang medium */
@media screen and (min-width:568px){
  .about-container,
  .skill-container,
  .footer-container{
    grid-template-columns: repeat(2 ,1fr);
  }
}
/* untuk device yang medium */
@media screen and (min-width:780px){
  .footer-container{
    grid-template-columns: repeat(3 ,1fr);
  }
  .footer-bg{
    padding: 3rem 3rem;
  }
}